body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #20be35;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

form {
    background-color: #ffffff;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
    margin: auto 10px 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #20be35;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #75db84;
}

input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
}